<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="macad3d" value="https://nuget.macad3d.net" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="macad3d">
            <package pattern="Macad.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>