name: Test Results

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
      
permissions: {}

jobs:
  test-results:
    name: Test Results
    runs-on: ubuntu-slim
    if: github.event.workflow_run.conclusion == 'success' || github.event.workflow_run.conclusion == 'failure'

    permissions:
      checks: write

      # needed unless run with comment_mode: off
      pull-requests: write

      # required by download step to access artifacts API
      actions: read

    steps:
      - name: Download event file
        uses: actions/download-artifact@v4
        with:
           run_id: ${{ github.event.workflow_run.id }}
           name: event-file
           
      - name: Download test results
        uses: actions/download-artifact@v4
        with:
          pattern: test-results-*

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: '**/Test.*.xml'
